# flowd API (OpenAPI 3.1). GENERATED by supabase/tools/gen-openapi.mjs from packages/contract/schema/*.mjs: do not edit by hand.
# Change the contract (schema/*.mjs, api.mjs) or supabase/tools/lib/openapi/*.mjs and run: node supabase/tools/gen-openapi.mjs
# 210 paths, 236 operations (235 of the contract + the Stripe webhook), 562 schemas, 18 outbound webhook events, 5 MCP tools.
openapi: 3.1.0
info:
  title: flowd API
  version: 1.0.0
  summary: Money follows what works.
  description: |-
    The flowd API: an open creator market for app growth. Money follows what works.

    **Base URL** `https://api.joinflowd.io/api/v1` (the demo build serves the same paths from `/api/v1` of the web app with an in-memory world; responses carry `X-Flowd-Demo: 1`).

    ## Conventions
    - **Auth.** Bearer session token (demo: POST /auth/demo-login). Roles: public, creator, brand (a brand_member, scoped to their workspace by role), admin. API keys (fd_live_ / fd_test_) act as a brand with scopes read, write, financial; writes made with an API key are drafts by default and money movements need the financial scope.
    - **Money and time.** Money is integer cents with a _cents suffix; rates are cpm_cents; ratios are 0..1; timestamps are ISO-8601 UTC with Z; dates YYYY-MM-DD. Every response that shows an earning includes its state, eta_at and reason (Money Clock). No endpoint returns formatted money.
    - **Pagination and filters.** Cursor pagination: ?limit= (default 50, max 200) & ?cursor=; responses are { data: [...], next_cursor, total? }. Filters are plain query params named after fields (?status=live&app_id=...&q=...). Sort with ?sort=-created_at. ?expand= takes a comma list of ref fields to inline (e.g. expand=app,brand).
    - **Idempotency.** Every POST that moves money or creates a settlement artefact (fund, top-up, decision, payout, accept, claim, webhook ingest) accepts an Idempotency-Key header; repeated keys return the original response. Webhook ingest is idempotent on the RevenueCat event id.
    - **Errors.** Non-2xx responses are { code, message, hint } with a stable snake_case code. Common: validation_failed (422), reason_required (422), not_found (404), forbidden (403), tier_locked (403), bounty_not_funded (409), pool_exhausted (409), sla_not_started (409), revision_limit (409), appeal_used (409), below_minimum (422), method_missing (409), tax_info_missing (409), identity_check_required (409), idempotency_conflict (409), rate_limited (429), conflict (409).
    - **Demo mode.** The mock API is an in-memory singleton seeded from the fixtures. POST /admin/demo/advance moves the demo clock (24 h / 72 h) and runs window close, fraud check, clearing and the Friday payout when due; POST /admin/demo/reset restores the seed. Responses carry header X-Flowd-Demo: 1.
    - **Webhooks (outbound).** Signed with HMAC-SHA256 in the X-Flowd-Signature header (t=<unix>,v1=<hex>); events are WebhookEventType; deliveries retry with exponential backoff and are listed in the endpoint's deliveries.

    ## Authentication
    - **bearerAuth**: a session token (a Supabase JWT; demo: `POST /auth/demo-login`). Roles: `creator`, `brand_member` (scoped to a workspace by member role and capability), `admin`.
    - **apiKeyAuth**: a brand API key, `fd_live_...` or `fd_test_...`, sent as a bearer token. A key acts as a brand with scopes `read`, `write` and `financial`. Writes made with a key are **drafts** by default; anything that moves money needs the `financial` scope. Keys are shown once and stored as a sha256 hash.
    - Public endpoints (`security: []`) need no credentials: public pages, the free tools, the waitlist, tracking-link resolution and the provider webhooks (which authenticate the provider).

    ## Money
    Integer cents everywhere (`*_cents`). Rates are `cpm_cents` (cents per 1,000 verified views). Every response that shows an earning carries its Money Clock state: **pending -> cleared -> paid**, with a dated `eta_at` and a named `reason`. No endpoint returns formatted money.

    ## Rate limits
    60 requests per minute on Free, 600 requests per minute on Pro, 3,000 requests per minute on Scale. Exceeding it returns `rate_limited` (429) with `Retry-After`.
  contact:
    name: flowd developers
    email: hello@joinflowd.io
    url: https://joinflowd.io/docs
  license:
    name: Proprietary
    identifier: LicenseRef-flowd
  x-contract-version: 1.0.0
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
  - url: https://api.joinflowd.io/api/v1
    description: Production
  - url: https://api-staging.joinflowd.io/api/v1
    description: Staging
  - url: http://localhost:3000/api/v1
    description: Local demo (in-memory world seeded from the fixtures)
tags:
  - name: Session
    description: Demo role switching and the world manifest.
  - name: Apps, brands and team
    description: Workspaces, apps, members, roles, activity and CRM lists.
  - name: Bounties
    description: Builder, lint, price, escrow and lifecycle.
  - name: Feed, Daily Drop and saves
    description: Creator discovery.
  - name: Submissions and review
    description: Versioned submissions, timecoded feedback, decisions, appeals, auto-approve.
  - name: Scoring
    description: Checklist scores shared with the client engines.
  - name: Posts, View Ledger and ledger
    description: Verified views, snapshots, disputes, double-entry.
  - name: Wallet, Money Clock and payouts
    description: Pending, cleared and paid with dates and reasons.
  - name: Tax Desk
    description: Just-in-time W-9. Not tax advice.
  - name: Offers, rate cards, auctions, specs and market
    description: Pricing and trade.
  - name: Attribution Kit
    description: Links, codes, RevenueCat ingest. CPA pays only on link and code.
  - name: Rights, promotion and fatigue
    description: Rights Vault, Spark and partnership permissions, Winner promotion.
  - name: Creators, reputation and progression
    description: Profiles, tiers, streaks, leaderboards, crews, tournaments, Academy, referrals.
  - name: Flo and free tools
    description: Mock engine behind an AIProvider; public tools need no auth.
  - name: Safety
    description: Scam Shield.
  - name: Developers and integrations
    description: API keys, webhooks, MCP, integrations.
  - name: Admin
    description: Control tower and queues. Role admin only.
  - name: Public pages
    description: Unauthenticated, cacheable.
  - name: Webhooks
    description: Provider webhooks into flowd (RevenueCat, Stripe). Brand-facing outbound webhooks are in the top-level `webhooks` section.
security:
  - bearerAuth: []
paths:
  /auth/demo-login:
    post:
      operationId: demoLogin
      tags:
        - Session
      summary: Start a demo session as creator, brand or admin
      description: Start a demo session as creator, brand or admin.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - role
              properties:
                role:
                  $ref: "#/components/schemas/Role"
                  description: creator, brand_member or admin.
                persona:
                  type: string
                  description: A persona slug (maya.makes, lumi ...). Defaults to the role's hero persona.
              additionalProperties: false
            example:
              role: creator
              persona: maya.makes
      security: []
      x-flowd-who: public
      responses:
        "200":
          description: Session.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
              example:
                token: fd_demo_9c1b7e2a5d
                token_type: bearer
                expires_at: "2026-10-04T14:00:00Z"
                role: creator
                user:
                  id: usr_maya
                  role: creator
                  email: maya@example.test
                  display_name: Maya Torres
                  status: active
                  locale: en-US
                  timezone: America/Los_Angeles
                creator_id: cr_maya
                demo: true
        "422":
          description: The request was understood and refused.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - validation_failed
              examples:
                validation_failed:
                  summary: validation_failed
                  value:
                    code: validation_failed
                    message: One or more fields failed validation.
                    hint: The message names the field and what is allowed.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
  /auth/logout:
    post:
      operationId: logout
      tags:
        - Session
      summary: End the session
      description: End the session.
      security:
        - bearerAuth:
            - any
        - apiKeyAuth:
            - write
      x-flowd-who: any
      x-flowd-api-key-scope: write
      responses:
        "204":
          description: No content.
        "401":
          description: Missing, expired or invalid credentials.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - unauthorized
              examples:
                unauthorized:
                  summary: unauthorized
                  value:
                    code: unauthorized
                    message: Send a bearer token or an API key.
        "403":
          description: The role, the workspace capability or the tier does not allow this.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - forbidden
              examples:
                forbidden:
                  summary: forbidden
                  value:
                    code: forbidden
                    message: Your role cannot do this in this workspace.
                    hint: Ask an owner to change your role.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
  /me:
    get:
      operationId: getMe
      tags:
        - Session
      summary: The signed-in user with role, persona ids and demo flag
      description: The signed-in user with role, persona ids and demo flag.
      security:
        - bearerAuth:
            - any
        - apiKeyAuth:
            - read
      x-flowd-who: any
      x-flowd-api-key-scope: read
      responses:
        "200":
          description: Session.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        "401":
          description: Missing, expired or invalid credentials.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - unauthorized
              examples:
                unauthorized:
                  summary: unauthorized
                  value:
                    code: unauthorized
                    message: Send a bearer token or an API key.
        "403":
          description: The role, the workspace capability or the tier does not allow this.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - forbidden
              examples:
                forbidden:
                  summary: forbidden
                  value:
                    code: forbidden
                    message: Your role cannot do this in this workspace.
                    hint: Ask an owner to change your role.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
  /world:
    get:
      operationId: getWorld
      tags:
        - Session
      summary: "World manifest: now, personas, row counts"
      description: "World manifest: now, personas, row counts."
      security:
        - bearerAuth:
            - any
        - apiKeyAuth:
            - read
      x-flowd-who: any
      x-flowd-api-key-scope: read
      responses:
        "200":
          description: World.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/World"
        "401":
          description: Missing, expired or invalid credentials.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - unauthorized
              examples:
                unauthorized:
                  summary: unauthorized
                  value:
                    code: unauthorized
                    message: Send a bearer token or an API key.
        "403":
          description: The role, the workspace capability or the tier does not allow this.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - forbidden
              examples:
                forbidden:
                  summary: forbidden
                  value:
                    code: forbidden
                    message: Your role cannot do this in this workspace.
                    hint: Ask an owner to change your role.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
  /health:
    get:
      operationId: getHealth
      tags:
        - Session
      summary: Liveness and demo clock
      description: Liveness and demo clock.
      security: []
      x-flowd-who: public
      responses:
        "200":
          description: Health.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
  /events:
    post:
      operationId: trackEvents
      tags:
        - Session
      summary: Analytics events (rules in PRODUCT_SPEC section 10)
      description: Analytics events (rules in PRODUCT_SPEC section 10).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - events
              properties:
                events:
                  type: array
                  items:
                    $ref: "#/components/schemas/AnalyticsEvent"
                  description: Up to 50 events per call.
              additionalProperties: false
      security:
        - bearerAuth:
            - any
        - apiKeyAuth:
            - write
      x-flowd-who: any
      x-flowd-api-key-scope: write
      responses:
        "202":
          description: Accepted for processing.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Accepted"
        "401":
          description: Missing, expired or invalid credentials.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - unauthorized
              examples:
                unauthorized:
                  summary: unauthorized
                  value:
                    code: unauthorized
                    message: Send a bearer token or an API key.
        "403":
          description: The role, the workspace capability or the tier does not allow this.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - forbidden
              examples:
                forbidden:
                  summary: forbidden
                  value:
                    code: forbidden
                    message: Your role cannot do this in this workspace.
                    hint: Ask an owner to change your role.
        "422":
          description: The request was understood and refused.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - validation_failed
              examples:
                validation_failed:
                  summary: validation_failed
                  value:
                    code: validation_failed
                    message: One or more fields failed validation.
                    hint: The message names the field and what is allowed.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
  /apps:
    get:
      operationId: listApps
      tags:
        - Apps, brands and team
      summary: Apps in the workspace
      description: Apps in the workspace.
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Sort"
        - $ref: "#/components/parameters/Expand"
      security:
        - bearerAuth:
            - brand_member
        - apiKeyAuth:
            - read
      x-flowd-who: brand
      x-flowd-api-key-scope: read
      responses:
        "200":
          description: A page of App.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppPage"
        "401":
          description: Missing, expired or invalid credentials.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - unauthorized
              examples:
                unauthorized:
                  summary: unauthorized
                  value:
                    code: unauthorized
                    message: Send a bearer token or an API key.
        "403":
          description: The role, the workspace capability or the tier does not allow this.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - forbidden
              examples:
                forbidden:
                  summary: forbidden
                  value:
                    code: forbidden
                    message: Your role cannot do this in this workspace.
                    hint: Ask an owner to change your role.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
    post:
      operationId: createApp
      tags:
        - Apps, brands and team
      summary: Add an app (store URL -> metadata)
      description: Add an app (store URL -> metadata).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - store_url
              properties:
                store_url:
                  type: string
                  description: The App Store URL; metadata is resolved from it.
                name:
                  type: string
                category:
                  $ref: "#/components/schemas/Category"
                mmp:
                  $ref: "#/components/schemas/MmpKind"
              additionalProperties: false
      security:
        - bearerAuth:
            - brand_member
        - apiKeyAuth:
            - write
      x-flowd-who: brand
      x-flowd-api-key-scope: write
      responses:
        "200":
          description: App.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/App"
        "401":
          description: Missing, expired or invalid credentials.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - unauthorized
              examples:
                unauthorized:
                  summary: unauthorized
                  value:
                    code: unauthorized
                    message: Send a bearer token or an API key.
        "403":
          description: The role, the workspace capability or the tier does not allow this.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - forbidden
              examples:
                forbidden:
                  summary: forbidden
                  value:
                    code: forbidden
                    message: Your role cannot do this in this workspace.
                    hint: Ask an owner to change your role.
        "422":
          description: The request was understood and refused.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - validation_failed
              examples:
                validation_failed:
                  summary: validation_failed
                  value:
                    code: validation_failed
                    message: One or more fields failed validation.
                    hint: The message names the field and what is allowed.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
  /apps/lookup:
    post:
      operationId: lookupApp
      tags:
        - Apps, brands and team
      summary: Resolve an App Store URL to mock metadata and a generated icon
      description: Resolve an App Store URL to mock metadata and a generated icon.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - store_url
              properties:
                store_url:
                  type: string
                  description: A URL (joinflowd.io, a platform domain or an .example host; short links omit the scheme).
              additionalProperties: false
      security: []
      x-flowd-who: public
      responses:
        "200":
          description: AppLookup.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppLookup"
        "422":
          description: The request was understood and refused.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - validation_failed
              examples:
                validation_failed:
                  summary: validation_failed
                  value:
                    code: validation_failed
                    message: One or more fields failed validation.
                    hint: The message names the field and what is allowed.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
  /apps/{id}:
    get:
      operationId: getApp
      tags:
        - Apps, brands and team
      summary: App with attribution health
      description: App with attribution health.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/AppId"
          description: App id.
      security:
        - bearerAuth:
            - brand_member
        - apiKeyAuth:
            - read
      x-flowd-who: brand
      x-flowd-api-key-scope: read
      responses:
        "200":
          description: App.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/App"
        "401":
          description: Missing, expired or invalid credentials.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - unauthorized
              examples:
                unauthorized:
                  summary: unauthorized
                  value:
                    code: unauthorized
                    message: Send a bearer token or an API key.
        "403":
          description: The role, the workspace capability or the tier does not allow this.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - forbidden
              examples:
                forbidden:
                  summary: forbidden
                  value:
                    code: forbidden
                    message: Your role cannot do this in this workspace.
                    hint: Ask an owner to change your role.
        "404":
          description: The resource does not exist or is not visible to the caller.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - not_found
              examples:
                not_found:
                  summary: not_found
                  value:
                    code: not_found
                    message: The resource does not exist or is not visible to you.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
    patch:
      operationId: updateApp
      tags:
        - Apps, brands and team
      summary: Update app metadata, MMP, defaults
      description: Update app metadata, MMP, defaults.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/AppId"
          description: App id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                tagline:
                  type: string
                category:
                  $ref: "#/components/schemas/Category"
                mmp:
                  $ref: "#/components/schemas/MmpKind"
                default_hashtags:
                  type: array
                  items:
                    type: string
                features:
                  type: array
                  items:
                    type: string
                pricing:
                  $ref: "#/components/schemas/AppPricing"
                brand_colors:
                  $ref: "#/components/schemas/BrandColors"
              additionalProperties: false
      security:
        - bearerAuth:
            - brand_member
        - apiKeyAuth:
            - write
      x-flowd-who: brand
      x-flowd-api-key-scope: write
      responses:
        "200":
          description: App.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/App"
        "401":
          description: Missing, expired or invalid credentials.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - unauthorized
              examples:
                unauthorized:
                  summary: unauthorized
                  value:
                    code: unauthorized
                    message: Send a bearer token or an API key.
        "403":
          description: The role, the workspace capability or the tier does not allow this.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - forbidden
              examples:
                forbidden:
                  summary: forbidden
                  value:
                    code: forbidden
                    message: Your role cannot do this in this workspace.
                    hint: Ask an owner to change your role.
        "404":
          description: The resource does not exist or is not visible to the caller.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - not_found
              examples:
                not_found:
                  summary: not_found
                  value:
                    code: not_found
                    message: The resource does not exist or is not visible to you.
        "422":
          description: The request was understood and refused.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - validation_failed
              examples:
                validation_failed:
                  summary: validation_failed
                  value:
                    code: validation_failed
                    message: One or more fields failed validation.
                    hint: The message names the field and what is allowed.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
  /brands/{id}:
    get:
      operationId: getBrand
      tags:
        - Apps, brands and team
      summary: Brand profile (public fields for non-members)
      description: Brand profile (public fields for non-members).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/BrandId"
          description: Brand id.
      security:
        - bearerAuth:
            - any
        - apiKeyAuth:
            - read
      x-flowd-who: any
      x-flowd-api-key-scope: read
      responses:
        "200":
          description: Brand.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Brand"
        "401":
          description: Missing, expired or invalid credentials.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - unauthorized
              examples:
                unauthorized:
                  summary: unauthorized
                  value:
                    code: unauthorized
                    message: Send a bearer token or an API key.
        "403":
          description: The role, the workspace capability or the tier does not allow this.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - forbidden
              examples:
                forbidden:
                  summary: forbidden
                  value:
                    code: forbidden
                    message: Your role cannot do this in this workspace.
                    hint: Ask an owner to change your role.
        "404":
          description: The resource does not exist or is not visible to the caller.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - not_found
              examples:
                not_found:
                  summary: not_found
                  value:
                    code: not_found
                    message: The resource does not exist or is not visible to you.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
    patch:
      operationId: updateBrand
      tags:
        - Apps, brands and team
      summary: Update workspace profile, timeout policy, compliance defaults, billing profile
      description: Update workspace profile, timeout policy, compliance defaults, billing profile.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/BrandId"
          description: Brand id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                tagline:
                  type: string
                website:
                  type: string
                  description: A URL (joinflowd.io, a platform domain or an .example host; short links omit the scheme).
                logo:
                  $ref: "#/components/schemas/ArtSeed"
                timeout_policy:
                  $ref: "#/components/schemas/TimeoutPolicy"
                  description: escalate (default) or approve_if_clean.
                review_sla_hours:
                  type: integer
                compliance_defaults:
                  $ref: "#/components/schemas/ComplianceDefaults"
                billing:
                  $ref: "#/components/schemas/BillingProfile"
              additionalProperties: false
      security:
        - bearerAuth:
            - brand_member
        - apiKeyAuth:
            - write
      x-flowd-who: brand
      x-flowd-api-key-scope: write
      responses:
        "200":
          description: Brand.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Brand"
        "401":
          description: Missing, expired or invalid credentials.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - unauthorized
              examples:
                unauthorized:
                  summary: unauthorized
                  value:
                    code: unauthorized
                    message: Send a bearer token or an API key.
        "403":
          description: The role, the workspace capability or the tier does not allow this.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - forbidden
              examples:
                forbidden:
                  summary: forbidden
                  value:
                    code: forbidden
                    message: Your role cannot do this in this workspace.
                    hint: Ask an owner to change your role.
        "404":
          description: The resource does not exist or is not visible to the caller.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - not_found
              examples:
                not_found:
                  summary: not_found
                  value:
                    code: not_found
                    message: The resource does not exist or is not visible to you.
        "422":
          description: The request was understood and refused.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - validation_failed
              examples:
                validation_failed:
                  summary: validation_failed
                  value:
                    code: validation_failed
                    message: One or more fields failed validation.
                    hint: The message names the field and what is allowed.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
  /brands/{id}/scorecard:
    get:
      operationId: getBrandScorecard
      tags:
        - Apps, brands and team
      summary: Brand Scorecard (public)
      description: Brand Scorecard (public).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/BrandId"
          description: Brand id.
      security:
        - bearerAuth:
            - any
        - apiKeyAuth:
            - read
      x-flowd-who: any
      x-flowd-api-key-scope: read
      responses:
        "200":
          description: BrandScorecard.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrandScorecard"
        "401":
          description: Missing, expired or invalid credentials.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - unauthorized
              examples:
                unauthorized:
                  summary: unauthorized
                  value:
                    code: unauthorized
                    message: Send a bearer token or an API key.
        "403":
          description: The role, the workspace capability or the tier does not allow this.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - forbidden
              examples:
                forbidden:
                  summary: forbidden
                  value:
                    code: forbidden
                    message: Your role cannot do this in this workspace.
                    hint: Ask an owner to change your role.
        "404":
          description: The resource does not exist or is not visible to the caller.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - not_found
              examples:
                not_found:
                  summary: not_found
                  value:
                    code: not_found
                    message: The resource does not exist or is not visible to you.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
  /brands/{id}/members:
    get:
      operationId: listBrandMembers
      tags:
        - Apps, brands and team
      summary: Members and roles
      description: Members and roles.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/BrandId"
          description: Brand id.
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Sort"
        - $ref: "#/components/parameters/Expand"
      security:
        - bearerAuth:
            - brand_member
        - apiKeyAuth:
            - read
      x-flowd-who: brand
      x-flowd-api-key-scope: read
      responses:
        "200":
          description: A page of BrandMember.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrandMemberPage"
        "401":
          description: Missing, expired or invalid credentials.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - unauthorized
              examples:
                unauthorized:
                  summary: unauthorized
                  value:
                    code: unauthorized
                    message: Send a bearer token or an API key.
        "403":
          description: The role, the workspace capability or the tier does not allow this.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - forbidden
              examples:
                forbidden:
                  summary: forbidden
                  value:
                    code: forbidden
                    message: Your role cannot do this in this workspace.
                    hint: Ask an owner to change your role.
        "404":
          description: The resource does not exist or is not visible to the caller.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - not_found
              examples:
                not_found:
                  summary: not_found
                  value:
                    code: not_found
                    message: The resource does not exist or is not visible to you.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
    post:
      operationId: inviteBrandMember
      tags:
        - Apps, brands and team
      summary: Invite a member (role) or create a client-approval link
      description: Invite a member (role) or create a client-approval link.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/BrandId"
          description: Brand id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - role
              properties:
                email:
                  type: string
                role:
                  $ref: "#/components/schemas/BrandMemberRole"
                client_approval_link:
                  type: boolean
                  description: Create a client-approval link instead of a seat.
              additionalProperties: false
      security:
        - bearerAuth:
            - brand_member
        - apiKeyAuth:
            - write
      x-flowd-who: brand
      x-flowd-api-key-scope: write
      responses:
        "200":
          description: BrandMember.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrandMember"
        "401":
          description: Missing, expired or invalid credentials.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - unauthorized
              examples:
                unauthorized:
                  summary: unauthorized
                  value:
                    code: unauthorized
                    message: Send a bearer token or an API key.
        "403":
          description: The role, the workspace capability or the tier does not allow this.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - forbidden
              examples:
                forbidden:
                  summary: forbidden
                  value:
                    code: forbidden
                    message: Your role cannot do this in this workspace.
                    hint: Ask an owner to change your role.
        "404":
          description: The resource does not exist or is not visible to the caller.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - not_found
              examples:
                not_found:
                  summary: not_found
                  value:
                    code: not_found
                    message: The resource does not exist or is not visible to you.
        "422":
          description: The request was understood and refused.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - validation_failed
              examples:
                validation_failed:
                  summary: validation_failed
                  value:
                    code: validation_failed
                    message: One or more fields failed validation.
                    hint: The message names the field and what is allowed.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
  /brands/{id}/members/{memberId}:
    patch:
      operationId: updateBrandMember
      tags:
        - Apps, brands and team
      summary: Change role
      description: Change role.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/BrandId"
          description: Brand id.
        - name: memberId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/BrandMemberId"
          description: BrandMember id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - role
              properties:
                role:
                  $ref: "#/components/schemas/BrandMemberRole"
              additionalProperties: false
      security:
        - bearerAuth:
            - brand_member
        - apiKeyAuth:
            - write
      x-flowd-who: brand
      x-flowd-api-key-scope: write
      responses:
        "200":
          description: BrandMember.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrandMember"
        "401":
          description: Missing, expired or invalid credentials.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - unauthorized
              examples:
                unauthorized:
                  summary: unauthorized
                  value:
                    code: unauthorized
                    message: Send a bearer token or an API key.
        "403":
          description: The role, the workspace capability or the tier does not allow this.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - forbidden
              examples:
                forbidden:
                  summary: forbidden
                  value:
                    code: forbidden
                    message: Your role cannot do this in this workspace.
                    hint: Ask an owner to change your role.
        "404":
          description: The resource does not exist or is not visible to the caller.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - not_found
              examples:
                not_found:
                  summary: not_found
                  value:
                    code: not_found
                    message: The resource does not exist or is not visible to you.
        "422":
          description: The request was understood and refused.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - validation_failed
              examples:
                validation_failed:
                  summary: validation_failed
                  value:
                    code: validation_failed
                    message: One or more fields failed validation.
                    hint: The message names the field and what is allowed.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
    delete:
      operationId: removeBrandMember
      tags:
        - Apps, brands and team
      summary: Remove a member
      description: Remove a member.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/BrandId"
          description: Brand id.
        - name: memberId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/BrandMemberId"
          description: BrandMember id.
      security:
        - bearerAuth:
            - brand_member
        - apiKeyAuth:
            - write
      x-flowd-who: brand
      x-flowd-api-key-scope: write
      responses:
        "204":
          description: No content.
        "401":
          description: Missing, expired or invalid credentials.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - unauthorized
              examples:
                unauthorized:
                  summary: unauthorized
                  value:
                    code: unauthorized
                    message: Send a bearer token or an API key.
        "403":
          description: The role, the workspace capability or the tier does not allow this.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - forbidden
              examples:
                forbidden:
                  summary: forbidden
                  value:
                    code: forbidden
                    message: Your role cannot do this in this workspace.
                    hint: Ask an owner to change your role.
        "404":
          description: The resource does not exist or is not visible to the caller.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - not_found
              examples:
                not_found:
                  summary: not_found
                  value:
                    code: not_found
                    message: The resource does not exist or is not visible to you.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
  /brands/{id}/activity:
    get:
      operationId: listBrandActivity
      tags:
        - Apps, brands and team
      summary: Team activity log (filter by action, member; CSV with ?format=csv)
      description: Team activity log (filter by action, member; CSV with ?format=csv).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/BrandId"
          description: Brand id.
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Sort"
        - $ref: "#/components/parameters/Expand"
        - name: action
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/ActivityAction"
        - name: member_id
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/BrandMemberId"
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
            description: ISO-8601 UTC timestamp, e.g. 2026-10-03T14:00:00Z.
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
            description: ISO-8601 UTC timestamp, e.g. 2026-10-03T14:00:00Z.
        - name: format
          in: query
          required: false
          description: json (default) or csv.
          schema:
            type: string
      security:
        - bearerAuth:
            - brand_member
        - apiKeyAuth:
            - read
      x-flowd-who: brand
      x-flowd-api-key-scope: read
      responses:
        "200":
          description: A page of ActivityEntry.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityEntryPage"
            text/csv:
              schema:
                type: string
        "401":
          description: Missing, expired or invalid credentials.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - unauthorized
              examples:
                unauthorized:
                  summary: unauthorized
                  value:
                    code: unauthorized
                    message: Send a bearer token or an API key.
        "403":
          description: The role, the workspace capability or the tier does not allow this.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - forbidden
              examples:
                forbidden:
                  summary: forbidden
                  value:
                    code: forbidden
                    message: Your role cannot do this in this workspace.
                    hint: Ask an owner to change your role.
        "404":
          description: The resource does not exist or is not visible to the caller.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - not_found
              examples:
                not_found:
                  summary: not_found
                  value:
                    code: not_found
                    message: The resource does not exist or is not visible to you.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
  /brands/{id}/lists:
    get:
      operationId: listBrandLists
      tags:
        - Apps, brands and team
      summary: CRM lists
      description: CRM lists.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/BrandId"
          description: Brand id.
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Sort"
        - $ref: "#/components/parameters/Expand"
      security:
        - bearerAuth:
            - brand_member
        - apiKeyAuth:
            - read
      x-flowd-who: brand
      x-flowd-api-key-scope: read
      responses:
        "200":
          description: A page of BrandList.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrandListPage"
        "401":
          description: Missing, expired or invalid credentials.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - unauthorized
              examples:
                unauthorized:
                  summary: unauthorized
                  value:
                    code: unauthorized
                    message: Send a bearer token or an API key.
        "403":
          description: The role, the workspace capability or the tier does not allow this.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - forbidden
              examples:
                forbidden:
                  summary: forbidden
                  value:
                    code: forbidden
                    message: Your role cannot do this in this workspace.
                    hint: Ask an owner to change your role.
        "404":
          description: The resource does not exist or is not visible to the caller.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - not_found
              examples:
                not_found:
                  summary: not_found
                  value:
                    code: not_found
                    message: The resource does not exist or is not visible to you.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
    post:
      operationId: createBrandList
      tags:
        - Apps, brands and team
      summary: Create a list or add creators
      description: Create a list or add creators.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/BrandId"
          description: Brand id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                creator_ids:
                  type: array
                  items:
                    $ref: "#/components/schemas/CreatorId"
                note:
                  type: string
              additionalProperties: false
      security:
        - bearerAuth:
            - brand_member
        - apiKeyAuth:
            - write
      x-flowd-who: brand
      x-flowd-api-key-scope: write
      responses:
        "200":
          description: BrandList.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BrandList"
        "401":
          description: Missing, expired or invalid credentials.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - unauthorized
              examples:
                unauthorized:
                  summary: unauthorized
                  value:
                    code: unauthorized
                    message: Send a bearer token or an API key.
        "403":
          description: The role, the workspace capability or the tier does not allow this.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - forbidden
              examples:
                forbidden:
                  summary: forbidden
                  value:
                    code: forbidden
                    message: Your role cannot do this in this workspace.
                    hint: Ask an owner to change your role.
        "404":
          description: The resource does not exist or is not visible to the caller.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - not_found
              examples:
                not_found:
                  summary: not_found
                  value:
                    code: not_found
                    message: The resource does not exist or is not visible to you.
        "422":
          description: The request was understood and refused.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - validation_failed
              examples:
                validation_failed:
                  summary: validation_failed
                  value:
                    code: validation_failed
                    message: One or more fields failed validation.
                    hint: The message names the field and what is allowed.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
  /brands/{id}/plan:
    patch:
      operationId: changeBrandPlan
      tags:
        - Apps, brands and team
      summary: Change plan (Free, Pro, Scale)
      description: Change plan (Free, Pro, Scale).
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/BrandId"
          description: Brand id.
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - plan
              properties:
                plan:
                  $ref: "#/components/schemas/Plan"
                  description: free (12%), pro (10%, $299/mo) or scale (8%, $999/mo).
                payment_method_id:
                  type: string
              additionalProperties: false
      security:
        - bearerAuth:
            - brand_member
        - apiKeyAuth:
            - financial
      x-flowd-who: brand
      x-flowd-api-key-scope: financial
      x-flowd-moves-money: true
      responses:
        "200":
          description: Brand.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
            Idempotent-Replayed:
              $ref: "#/components/headers/IdempotentReplayed"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Brand"
        "401":
          description: Missing, expired or invalid credentials.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - unauthorized
              examples:
                unauthorized:
                  summary: unauthorized
                  value:
                    code: unauthorized
                    message: Send a bearer token or an API key.
        "403":
          description: The role, the workspace capability or the tier does not allow this.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - forbidden
              examples:
                forbidden:
                  summary: forbidden
                  value:
                    code: forbidden
                    message: Your role cannot do this in this workspace.
                    hint: Ask an owner to change your role.
        "404":
          description: The resource does not exist or is not visible to the caller.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - not_found
              examples:
                not_found:
                  summary: not_found
                  value:
                    code: not_found
                    message: The resource does not exist or is not visible to you.
        "422":
          description: The request was understood and refused.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - validation_failed
              examples:
                validation_failed:
                  summary: validation_failed
                  value:
                    code: validation_failed
                    message: One or more fields failed validation.
                    hint: The message names the field and what is allowed.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
  /bounties:
    get:
      operationId: listBounties
      tags:
        - Bounties
      summary: "List bounties (brand: own workspace; creator: visible to them)"
      description: "List bounties (brand: own workspace; creator: visible to them)."
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Sort"
        - $ref: "#/components/parameters/Expand"
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/BountyStatus"
        - name: app_id
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/AppId"
        - name: type
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/BountyType"
        - name: category
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/Category"
        - name: visibility
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/Visibility"
        - name: funded
          in: query
          required: false
          schema:
            type: boolean
        - name: min_cpm_cents
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            description: Integer cents (USD). Never a formatted amount.
        - name: q
          in: query
          required: false
          description: Matches title and brief.
          schema:
            type: string
      security:
        - bearerAuth:
            - any
        - apiKeyAuth:
            - read
      x-flowd-who: any
      x-flowd-api-key-scope: read
      responses:
        "200":
          description: A page of Bounty.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BountyPage"
        "401":
          description: Missing, expired or invalid credentials.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - unauthorized
              examples:
                unauthorized:
                  summary: unauthorized
                  value:
                    code: unauthorized
                    message: Send a bearer token or an API key.
        "403":
          description: The role, the workspace capability or the tier does not allow this.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - forbidden
              examples:
                forbidden:
                  summary: forbidden
                  value:
                    code: forbidden
                    message: Your role cannot do this in this workspace.
                    hint: Ask an owner to change your role.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
    post:
      operationId: createBounty
      tags:
        - Bounties
      summary: Create a draft bounty
      description: Create a draft bounty.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BountyDraft"
      security:
        - bearerAuth:
            - brand_member
        - apiKeyAuth:
            - write
      x-flowd-who: brand
      x-flowd-api-key-scope: write
      responses:
        "200":
          description: Bounty.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bounty"
        "401":
          description: Missing, expired or invalid credentials.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - unauthorized
              examples:
                unauthorized:
                  summary: unauthorized
                  value:
                    code: unauthorized
                    message: Send a bearer token or an API key.
        "403":
          description: The role, the workspace capability or the tier does not allow this.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - forbidden
              examples:
                forbidden:
                  summary: forbidden
                  value:
                    code: forbidden
                    message: Your role cannot do this in this workspace.
                    hint: Ask an owner to change your role.
        "422":
          description: The request was understood and refused.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - validation_failed
              examples:
                validation_failed:
                  summary: validation_failed
                  value:
                    code: validation_failed
                    message: One or more fields failed validation.
                    hint: The message names the field and what is allowed.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
                    message: "Slow down: your plan allows 600 requests per minute."
                    hint: Retry after the number of seconds in Retry-After.
  /bounties/{id}:
    get:
      operationId: getBounty
      tags:
        - Bounties
      summary: Bounty with brief, rights card, pay math, funded flag
      description: Bounty with brief, rights card, pay math, funded flag.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/BountyId"
          description: Bounty id.
      security:
        - bearerAuth:
            - any
        - apiKeyAuth:
            - read
      x-flowd-who: any
      x-flowd-api-key-scope: read
      responses:
        "200":
          description: Bounty.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bounty"
        "401":
          description: Missing, expired or invalid credentials.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - unauthorized
              examples:
                unauthorized:
                  summary: unauthorized
                  value:
                    code: unauthorized
                    message: Send a bearer token or an API key.
        "403":
          description: The role, the workspace capability or the tier does not allow this.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - forbidden
              examples:
                forbidden:
                  summary: forbidden
                  value:
                    code: forbidden
                    message: Your role cannot do this in this workspace.
                    hint: Ask an owner to change your role.
        "404":
          description: The resource does not exist or is not visible to the caller.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - not_found
              examples:
                not_found:
                  summary: not_found
                  value:
                    code: not_found
                    message: The resource does not exist or is not visible to you.
        "429":
          description: Rate limit reached (60 / 600 / 3,000 requests per minute on Free / Pro / Scale).
          headers:
            Retry-After:
              description: Seconds to wait.
              schema:
                type: integer
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ErrorBody"
                  - properties:
                      code:
                        enum:
                          - rate_limited
              examples:
                rate_limited:
                  summary: rate_limited
                  value:
                    code: rate_limited
[...]
